@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;400&display=swap");

body,
html {
  margin: 0;
  font-family: "Cairo", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Start https://www.cursors-4u.com */
* {
  cursor: url(https://ani.cursors-4u.net/cursors/cur-13/cur1160.ani),
    url(https://ani.cursors-4u.net/cursors/cur-13/cur1160.png), auto !important;
} /* End https://www.cursors-4u.com */
